@font-face {
  font-family: 'Karla';
  src: url('../../assets/fonts/Karla/Karla-Regular.eot');
  src: url('../../assets/fonts/Karla/Karla-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Karla/Karla-Regular.woff') format('woff'),
  url('../../assets/fonts/Karla/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}