.price {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.products__item{
  cursor: pointer;
}
.product__title {
  font-size: 1.667rem;
  line-height: 150%;
}
.product__price{
  color: $secondary;
  font-size: 1.333rem;
  cursor: pointer;
  &-new {
    color: #A25F4B;
  }
  &-old {
    text-decoration-line: line-through;
    color: rgba(29, 31, 46, 0.4);
  }
}
.products__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px 20px;
  padding-top: 100px;
}
.product__item-desc{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  padding-top: 35px;
}