@media (max-width: 1000px) {
  .featured__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .products__wrapper {
    justify-content: space-around;
  }
  .blog__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 970px) {
  .header {
    padding: 25px 30px;
  }
  .openMobile {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .offer__wrapper {
    align-items: center;
    flex-direction: column-reverse;
  }
  .offer__text {
    align-items: center;
  }
}

@media (max-width: 800px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media (max-width: 500px) {
  .offer__images {
    display: none;
  }
  .offer__text {
    text-align: center;
  }
  .offer__wrapper, .featured__wrapper {
    padding-top: 50px;
  }
  .subscription__form {
    flex-direction: column;
  }
  .image-section {
    display: none;
  }
}