@import "normalize";
@import "fonts";
@import "vars";
@import "header";
@import "mobile";
@import "cart";
@import "hero";
@import "featured";
@import "products";
@import "offer";
@import "blog";
@import "subscription";
@import "footer";
@import "response";

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  font-family: 'Karla', sans-serif;
  color: $primaryColor;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  padding: 100px 15px 0 15px;
}
section {
  padding: 100px 0;
}

.section__heading {
  line-height: 150%;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.section__title {
  font-size: 3rem;
  line-height: 140%;
}
.desc {
  line-height: 175%;
  font-size: 1.333rem;
  color: $secondary;
}

.btn {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 24px;
  cursor: pointer;
}

.btn-white {
  background: #fff;
  color: $primaryColor;
  transition: 0.3s ease;
  &:hover {
    background: $primaryColor;
    color: #fff;
    outline: 1px solid #fff;
  }
}
.btn-black {
  background: $primaryColor;
  color: #fff;
  transition: 0.3s ease;
  &:hover {
    background: #fff;
    color: $primaryColor;
    outline: 1px solid $primaryColor;
  }
}
.line {
  line-height: 185%;
  color: #A25F4B;
  font-size: 1.333rem;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: $hoverCover;
    bottom: -5px;
    left: 0;
    right: 0;
  }
}

.about {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.about__title {
  font-size: 2.333rem;
  line-height: 143%;
}
.image-section {
  background: url("../../assets/images/section-bg.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

@media (max-width: 500px) {
  section {
    padding: 50px 0;
  }
  .section__title {
    font-size: 2rem;
  }
  .desc {
    font-size: 1rem;
  }
  .about__title {
    font-size: 2rem;
  }
}